---
layout: default
---

<!-- Page Banner -->
{% include banner_default.html %}
<!-- End Page Banner -->

<!-- About Us -->
<section class="about-us-area pt-100 pb-70">
    <div class="container"> 
        <div class="row"> 
            <div class="col-lg-6"> 
                <div class="row"> 
                    <div class="col-6 col-sm-6 col-lg-6 xs-pr">
                        <div class="mb-30">
                            <img src="/uploads/etudiant1.jpg" class="radius-5" alt="Welcome Image" style="height: 230px; ">
                        </div>
                        <div class="mb-30">
                            <img src="/uploads/etudiant3.jpg" class="radius-5" alt="Welcome Image" style="height: 230px; ">
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-6 xs-pl"> 
                        <div class="mb-30">
                            <img src="/uploads/etudiant2.jpg" class="radius-5" alt="Welcome Image" style="height: 230px; ">
                        </div>
                        <img src="/uploads/etudiant4.jpg" class="radius-5" alt="Welcome Image" style="height: 230px; ">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6"> 
                <div class="about-us-text mt-60">
                    <h4>Bienvenue au LTID</h4>
                    <h2>40 ans d'expérience dans l'éducation</h2>
                    <h5>Venez découvrir les différentes opportunités de carrières qui se présenteront à vous</h5>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae abveritatis quasi architecto beatae vitae dicta sunt explicabo.</p>
                    
                    <a href="/contact/" class="default-btn">Contactez nous</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->

<!-- Why choose us -->
<!-- Why choose us -->
<section class="why-choose-us gray-bg pt-100 pb-70">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Pourquoi nous choisir?</h2>
            <p>La première des missions a été de créer le cadre d'accueil adapté à nos objectifs. </p>
        </div>
        
        <div class="row"> 
            <div class="col-md-6 col-lg-4"> 
                <div class="single-reason mb-30" data-tilt>
                    <div class="reason-icon">
                        <i class="icofont-man-in-glasses"></i>
                    </div>
                    <h3>La Qualité des Enseignements</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. </p>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4"> 
                <div class="single-reason active-hover mb-30" data-tilt>
                    <div class="reason-icon">
                        <i class="icofont-book-alt"></i>
                    </div>
                    <h3>L'Actualisation des Programmes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. </p>
                </div>
            </div>
          
            
            <div class="col-md-6 col-lg-4"> 
                <div class="single-reason mb-30" data-tilt>
                    <div class="reason-icon">
                        <i class="icofont-graduate"></i>
                    </div>
                    <h3>Certification</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="video-content mb-minus-355">
                    <div class="d-table"> 
                        <div class="d-tablecell">
                            <div class="sonar-wrapper">
                                <div class="sonar-emitter">
                                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="play-icon popup-youtube">
                                        <i class="icofont-play"></i>
                                    </a>
                                    <div class="sonar-wave"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
<!-- End Why choose us -->
<!-- End Why choose us -->

<!-- Counter Area -->
<div class="counter-area pt-350">
    <div class="container"> 
        <div class="row"> 
            <div class="col-sm-6 col-md-6 col-lg-4"> 
                <div class="single-counter">
                    <h3><span class="counter">2500</span>+</h3>
                    <span class="sub-title">Étudiants</span>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-6 col-lg-4"> 
                <div class="single-counter">
                    <h3><span class="counter">50</span>+</h3>
                    <span class="sub-title">Cours</span>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-6 col-lg-4"> 
                <div class="single-counter">
                    <h3><span class="counter">40</span>+</h3>
                    <span class="sub-title">Année d'expérience</span>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
<!-- End Counter Area -->

<!-- Our Experienced Tutor -->
<section class="experienced-tutor pt-100 pb-70">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Principaux Responsables</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  labore et dolore magna aliqua.</p>
        </div>
        
        <div class="row"> 
            <div class="col-sm-6  col-md-6 col-lg-3"> 
                <div class="single-tutor">
                    <img src="/assets/img/tutor/1.png" alt="tutor">
                    
                    <div class="tutor-title">
                        <h3>Arona Dione</h3>
                        <p>Proviseur </p>
                    </div>
                    <p class="email-link"><a href="#">a.dione@ltid.com</a></p>
                    <ul> 
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-6  col-md-6 col-lg-3"> 
                <div class="single-tutor">
                    <img src="/assets/img/tutor/2.png" alt="tutor">
                    
                    <div class="tutor-title">
                        <h3>Suzanne Diop</h3>
                        <p>Comptabilité</p>
                    </div>
                    <p class="email-link"><a href="#">s.diop@ltid.com</a></p>
                    <ul> 
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-6  col-md-6 col-lg-3"> 
                <div class="single-tutor">
                    <img src="/assets/img/tutor/3.png" alt="tutor">
                    
                    <div class="tutor-title">
                        <h3>Mohaned Diagne</h3>
                        <p>Responsable Étude</p>
                    </div>
                    <p class="email-link"><a href="#">m.diagne@ltid.com</a></p>
                    <ul> 
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-6  col-md-6 col-lg-3"> 
                <div class="single-tutor">
                    <img src="/assets/img/tutor/4.png" alt="tutor">
                    
                    <div class="tutor-title">
                        <h3>Clément Tine</h3>
                        <p>Responsable Informatique</p>
                    </div>
                    <p class="email-link"><a href="#">c.tine@ltid.com</a></p>
                    <ul> 
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Experienced Tutor -->

<!-- CTR -->
<div class="ctr-area ptb-100" style="background-image: url({{ site.banner_image }});">
    <div class="container"> 
        <div class="ctr-text-content">
            <h1>LTI Delafosse - PROGRAMME 2019</h1>
            <p>Électricité, Mécanique générale, Maintenance industrielle, Analyses biologiques Au CFA (Centre de Formation Artisanale) du Complexe Delafosse: Ameublement Sculpté, Bijouterie, Cordonnerie – Maroquinerie, Coupe – Couture, Poterie – Céramique, Electricité, Mécanique Générale.</p>
            
            <a href="/admission/" class="default-btn">S'inscrire Maintenant</a>
        </div>
    </div>
</div>
<!-- End CTR -->

<!-- Latest News -->
<section class="latest-news pt-100 pb-70">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Derniers Articles</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  labore et dolore magna aliqua.</p>
        </div>
        
        <div class="news-carosel owl-carousel owl-theme owl-theme-s2">
            <!-- Blog Post #1 -->
            {% for post in site.posts %}
            <div class="single-blog-post">
                <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}" width="350px" height="224px"></a>
                
                <div class="blog-post-content"  style="height: 195px;">
                    <span><i class="icofont-ui-calendar"></i> {{ post.date | date: "%d/%m/%Y"}}</span>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <a href="{{ post.url }}" class="default-btn">Lire l'article</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Latest News -->

<!-- Our Feedback -->
<section class="our-feedback ptb-100">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Les Témoignages</h2>
            <p>Découvrez les différents témoignages des personnes qui ont eu à découvrir notre établissement</p>
        </div>
        
        <div class="feedback-carosel owl-carousel owl-theme owl-theme-s2">
            <!-- Feedback #1 -->
            {% for commentaire in site.commentaires %}
            <div class="single-feedback">
                <p class="text-justify">{{ commentaire.content }}</p>
                
                <div class="client-info">
                    <img src="{{ commentaire.image }}" alt="{{ commentaire.nom }}">
                    
                    <h3>{{ commentaire.nom }}</h3>
                    <span>{{ commentaire.profession }}</span>
                </div>
                
                <img src="/assets/img/quote.png" class="quote-icon" alt="quote">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Our Feedback -->