---
layout: default
---

<!-- Page Banner -->
{% include banner_default.html %}
<!-- End Page Banner -->

<!-- Register -->
<section class="register-section pt-100 pb-180">
    <div class="container">
        <div class="register-form box-content">
            <h3 class="title">Formulaire d'inscription</h3>
            <form>
                <div class="row"> 
                    <div class="col-lg-6"> 
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_username" placeholder="Nom Complet">
                        </div>
                    </div>
                    
                    <div class="col-lg-6"> 
                        <div class="form-group">
                            <input type="email" class="form-control" id="id_email" placeholder="Adresse e-mail">
                        </div>
                    </div>
                </div>
       
                <div class="form-group">
                    <input type="text" class="form-control" id="id_phone_number" placeholder="Numero de téléphone">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="niveau_etude" placeholder="Niveau d'étude">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="programme" placeholder="Programme de préférence">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="dernier_diplome" placeholder="Dernier diplôme obtenu">
                </div>
                 <textarea name="presentation" form="usrform" class="form-control" id="presentation" placeholder="Présentez-vous en quelques lignes" rows="5" style="margin-bottom: 1.5rem;">Présentez-vous en quelques lignes</textarea>
          
                <div class="form-foot"> 
                    <button type="submit" class="btn default-btn">Envoyer le formulaire</button>
                    <p>Pour plus de renseignements, <a href="/contact/">contactez-nous</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Register -->